.square {
  border-radius: 0px;
}

.jumbotron {
  background-image: linear-gradient(to right, #007bff, #000);
  color: white;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.7s ease-out;
}

input {
  padding: 5px;
  font-size: 16px;
}

input:not(:first-of-type) {
  margin-left: 20px;
}

video {
  margin: 30px;
  width: 500px;
  max-width: 85%;
}
